{% extends 'Basic.html' %}

{% block title %} About - TextUtils {% endblock title %}

{% block aboutactive %}  active {% endblock aboutactive %}

{% block body %} 
  
<div class="container my-4" style="height:115vh;">
    <div class="jumbotron">
        <h1 class="display-4">About TextUtils</h1>
        <p class="lead">In this page we describe a bit of the history, motivations and features behind TextUtils.</p>
        <hr class="my-4">

        <h2>Why we created it?</h2>
        <p>TextUtils.in was born in 2022 as part of a learning exercise to practice our programming skills. In almost 1 year of existence, <strong>we continue to refactor, redesign, improve, and implement new features.</strong> And we could say that we learned a lot since we started, by including the experience here and in the overall development world. As long our spirit allows us to continue learning and coding, we will continue improving this website.</p>

        <h2>What does it do?</h2>
        <p>TextUtils.in is described as a <strong>central repository of tools for helping with developer activities.</strong> It includes tools such as for <strong>Remove Punctuations, UPPERCASE, New Line Remover, Extra Space Remover, Character Count and copy text.</strong> And this is actually only a subset of what we have.</p>

        <h2>Why is it different?</h2>
        <p><strong>Fast, secure and easy.</strong> This is a summary of what TextUtils.in is. All we design is intended to be fast, really fast. Other than that, all <strong>our utilities are client-side</strong>, meaning your data will not go through our servers to be processed. <strong>Your data is secure.</strong> Finally, TextUtils.in is also <strong>quite easy.</strong> Everything can be found on the page very quickly, in just a few clicks.</p>
        <a class="btn btn-primary btn-lg" href="/" role="button">Try TextUtils >>></a>
      </div>
</div>

 {% endblock body %} 