{% extends 'Basic.html' %}

{% block title %} Analyze - TextUtils {% endblock title %}

{% block aboutactive %}  active {% endblock aboutactive %}

{% block body %} 
  
      <div class="alert alert-success alert-dismissible fade show" id="copytextalert" role="alert" style="margin-top:4%;">
        <strong>Success</strong> Your text has been analyzed.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="container my-4">

        <div class="alert alert-success alert-dismissible fade show d-flex align-items-center py-5">
            <pre id="copy-text" class="my-2 mx-4 w-100"><h2>{{ analyzed_text }}</h2></pre>
            <button id="corner-btn" class="btn btn-outline-primary" onclick="copy()">
              Copy
          </button> 
          </div>

      </div>

       
    <script>
      function copy() {
        if (document.selection) {
    var range = document.body.createTextRange();
    range.moveToElementText(document.getElementById("copy-text"));
    range.select().createTextRange();
    document.execCommand("copy"); 
  } 
  else if (window.getSelection) {
    var range = document.createRange();
    range.selectNode(document.getElementById("copy-text"));
    window.getSelection().addRange(range);
    document.execCommand("copy");
    var span = document.getElementById('copytextalert');
    span.innerHTML = `<strong>Success</strong> Your text has Copied to Clipboard!`;
  }
      }

    </script>

 {% endblock body %} 

   